<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="tcrawley@gmail.com">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="Tournament Registration">
<input type="hidden" name="item_number" value="testid">
<input type="hidden" name="button_subtype" value="services">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHostedGuest">
<table>
<tr><td><input type="hidden" name="on0" value="Payment type">Payment type</td></tr><tr><td><select name="os0">
<option value="Single participant">Single participant $40.00</option>
<option value="Family of participants">Family of participants $80.00</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="option_select0" value="Single participant">
<input type="hidden" name="option_amount0" value="40.00">
<input type="hidden" name="option_select1" value="Family of participants">
<input type="hidden" name="option_amount1" value="80.00">
<input type="hidden" name="option_index" value="0">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
