.fees
  %div
    .dates
      On or before May 1st:
    %span
      $45/competitor or $90/family of competitors
  %div
    .dates
      After May 1st:
    %span
      $60/competitor or $120/family of competitors
  .small_note
    (registration includes eligibility in all events: forms, sparring, and board breaking)
